@import "colors";
@import "layout";
@import "style";
@import "typography";


// TODO: 
//  - Split CSS into logical files


////////////////////////////////////
///  Global CSS - Layout
//////////////////////////////////

html {
  height: 100%;
  
  body {
    display: grid;
    height: 100%;
    grid-template-areas:
            "nav"
            "main"
            "footer";
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-flow: row;
    grid-template-rows: 80px auto 70px;
  }
}

header {
  grid-area: header;
  grid-column: col-start/span 12;
  grid-row: 1;
  
  #top {
    margin-bottom: 0;
    box-shadow: 4px 2px 6px rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    padding: 2rem .9rem;
    height: 100%;
    
    #top-nav-main {
      float: right;
      padding-left: 10px;
      border-left: none;
    }

    #top-nav-extra {
      li a {
        margin-right: .5rem;
      }
    }
    
    #top-brand {
      margin-right: 0;
      
      a {
        background: url(/img/logo/png/rhelements-icon-red.png) no-repeat 0 50%;
        background-size: 65px;
        padding: 2rem 2rem 2rem 3.6rem;
        font-size: 1.4rem;
        text-decoration: none;
        color: #252525;
        
        span {
          font-weight: bold;
        }
      }
    }
  }
  
  #top-sm {
    box-shadow: 4px 2px 6px rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    
    #nav-toggle-box {
      padding: 1.5rem .9rem;
      font-size: 1.2rem;
      
      #top-brand {
        a {
          background: url(/img/logo/png/rhelements-icon-blue.png) no-repeat 0 50%;
          background-size: 65px;
          padding: 2rem 2rem 2rem 3.6rem;
          font-size: 1.4rem;
          font-weight: 400;
          text-decoration: none;
          color: #252525;
          
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
  
  #mobile-toc {
    // position: absolute;
    // top: 0;
    // padding: 2rem;
    // background-color: #fff;
    // width: 50%;
    // height: 100%;
    
    @media (min-width: 768px) {
      display: none;
    }
  }
}

footer {
  grid-area: footer;
  grid-column: col-start / span 12;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1.3rem 2rem;
  font-size: .8rem;
  border: none;
  background-color: #313439;
  color: #fff;
  
  @media (min-width: 700px) {
    flex-direction: row;
    align-items: center;
  }
  
  & * {
    margin-bottom: 0;
  }
  
  nav {
    order: 2;
    
    @media (min-width: 700px) {
      margin-left: auto;
    }
  }
  
  nav ul {
    order: 2;
    display: flex;
    flex-direction: row;
    
    & > * {
      margin-right: 10px;
    }
    
    & > *:last-child {
      margin-right: 0;
    }
  }
  
  & nav ul li span {
    color: rgba(255, 255, 255, 0.5);
  }
  
  & nav ul li a {
    color: rgba(255, 255, 255, 0.9);
  }
  
  small {
    color: #fff;
  }
}

main {
  grid-area: main;
  grid-column: 1 / span 12;
  grid-row: 2 / 3;
  
  ////////////////////////////////////
  ///  Homepage - Content
  //////////////////////////////////
  
  #homepage {
    
    header {
      margin-top: 0;
      
      @media (min-width: 600px){
        padding: 2rem 4rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    
    #hero {
      background-color: $rh-global--color--gray-platinum;
      padding: 1.5rem;
      
      h1 {
        width: max-content;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        padding: 2rem 0;
        font-size: 3rem;
        font-weight: 400;
        
        @media (min-width: 768px){
          font-size: 3.5rem;
        }
        
        @media (min-width: 768px){
          font-size: 4rem;
        }
        
        .hero-logo {
          width: 100px;
          object-fit: none;
          display: none;
          
          @media (min-width: 992px) {
            display: block;
          }
        }
        
        span {
          font-weight: 800;
        }
      }
      
      p {
        margin-top: 0;
        margin-bottom: 2.5rem;
        padding-top: 2rem;
        line-height: 1.4;
        font-size: 1.4rem;
        
        @media (min-width: 768px){
          font-size: 1.6rem;
        }
        
        &::before {
          background-color: #4f7599;
        }
      }
    }
    
    #kube-features {
      margin-top: 0;
      padding: 3rem 2rem;
      
      ul {
        list-style-type: none;
        margin-left: 0;
      }
    }
    
    & > .rh-l-grid {
      height: 100% !important;
    }
  }
  
  
  ////////////////////////////////////
  ///  Single & List - Content
  //////////////////////////////////
  
  #hero.page-header {
    // margin: 2rem 0;
    padding: 0;
    
    h1 {
      max-width: none;
      margin-bottom: 2rem;
      font-size: 3rem;
      font-weight: 800;
      text-align: left;
      line-height: normal;
      
      @media (min-width: 768px) {
        font-size: 3.5rem;
      }
    }
  }
  
  
  
  #main-toc {
    padding: 1.5rem 1rem 0 2rem;
    background-color: $rh-global--color--gray-moon;
    overflow-y: auto;
    overflow-wrap: break-word;
    min-width: 300px;
    min-height: 100vh;
    display: none;
    
    @media (min-width: 768px) {
      display: block;
    }
    
    .toc-desktop {
      list-style-type: none;
    }
  }
  
  #content {
    padding: 1.5rem 2rem 0;
    margin-right: 2rem;
    
    @media (min-width: 1200px) {
      max-width: 55vw;
    }
    
    #posts {
      max-width: 100%;
      margin-top: 0;
      padding: 0;
      text-align: left;
      
      h2 {
        margin-top: 3rem;
        margin-bottom: 1.4rem;
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 1px;
      }
      
      h2:first-child {
        margin-top: 0;
      }
    }
  }


  .page-toc {
    margin-top: 2rem;
    display: none;
    list-style-type: none;
    width: 20vw;
    margin-left: auto;
    
    height: max-content;
    padding-left: 1rem;
    
    @media (min-width: 1200px) {
      display: block;
    }
    
    h3 {
      margin-bottom: .8rem;
      font-size: 1rem;
      font-weight: bold;
      color: #005a7a;
      text-transform: uppercase;
    }
    
    .js-toc .toc-list {
      margin: 0;
      list-style-type: none;
      // border-left: 3px solid black;
      // padding-left: 1rem;
      
      li {
        margin-bottom: .3rem;
        
        a {
          font-size: 1rem;
        }
      }
    }
  }
}


////////////////////////////////////
///  Global CSS - Site Design
//////////////////////////////////

* {
  -webkit-font-smoothing: subpixel-antialiased;
}

a:hover,
a:focus {
  color: #06c;
}

#action-buttons {
  
  a, button, .button {
    margin: 0 .5rem;
  }
}

p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: .1px;
}