a {
  
}

a:hover,
a:focus {
  color: #06c;
}

header nav #top-nav-main {
  float: right;
}

#hero {
  padding: 2rem;
}

#hero h1 {
  /* margin-left: 1.3rem;
  margin-right: 0; */
  font-size: 3rem;
}

#posts {
  max-width: 50vw;
  margin-top: 0;
  text-align: left;
}

#posts h2:first-child {
  margin-top: 0;
}

#posts h2 {
  margin-top: 3rem;
  margin-bottom: 1.4rem;
  /* padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0,0,0,.1); */
  font-size: 1.8rem;
}

#posts pre {
  /* width: 90%; */
}

/* 
#footer {
  position: absolute;
  bottom: 0;
} */

#kube-features .row:first-child {
  border: none;
}

.list-toc {
  position: fixed;
  top: 150px;
  right: 100px;
  padding: .5rem 1.8rem;
  border-left: 2px solid #4f7599;
}

.list-toc h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

.list-toc .guide {
  list-style-type: none;
  position: sticky;
  padding: 0;
  margin: 0;
}

.list-toc .guide li {
  /* border: none; */
}

.list-toc .guide li a {
  font-size: 1rem;
}