{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<article style="display: flex; flex-direction: row;">
  
  <nav id="main-toc">
    
    <h3>Get Started</h3>
    <ul>
      {{ range where .Site.RegularPages "Params.menu" "start" }}
        <li>
          <a href="{{ .URL }}" title="{{ .Title }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>
    <h3>Develop</h3>
    <ul>
      {{ range where .Site.RegularPages "Params.menu" "develop" }}
        <li>
          <a href="{{ .URL }}" title="{{ .Title }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>
    <h3>Theme</h3>
    <ul>
      {{ range where .Site.RegularPages "Params.menu" "theme" }}
        <li>
          <a href="{{ .URL }}" title="{{ .Title }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>
    <!-- Figure out the name for this -->
    <h3>RHElements</h3>
    <ul>
      {{ range .Site.Menus.extra }} 
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}  
    </ul>
  </nav>

  <section id="content" style="">
    <header id="hero" class="page-header">
      <h1> {{.Params.title }}</h1>
    </header>
    
    <ul id="posts">

     {{ .Content }}
     
    </ul>
  </section>
  
  <aside class="page-toc">
    <h3>Contents</h3>
    {{ partial "toc" .}}
  </aside>
</article>

{{ end }} 

{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}