{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<article style="display: flex; flex-direction: row;">
  
  <section id="main-toc">
    <ul class="toc-desktop">
      {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
    </ul>
  </section>

  <section id="content" style="">
    <header id="hero" class="page-header">
      <h1> {{.Params.title }}</h1>
    </header>
    
    <ul id="posts">

     {{ .Content }}
     
    </ul>
  </section>
  
  <aside class="page-toc">
    <h3>Contents</h3>
    {{ partial "toc" .}}
    <!-- <ul class="guide">
      {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
    </ul> -->
  </aside>
</article>

{{ end }} 

{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}